body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* TITLE */
.title {
  text-align: center;
  font-weight: 100;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 9px;
}

/* CALCULATOR */
.calc-container {
  display: flex;
  justify-content: center;
}

/* KEYPAD */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  grid-gap: 10px;
  justify-content: center;
}

.keypad-button {
  text-align: center;
  background-color: rgba(250, 114, 104, 0.4);
  padding: 0.5rem;
  font-weight: 400;
}

.keypad-button:hover {
  background-color: rgba(250, 114, 104, 0.6);
}

/* DISPLAY WINDOW */
.display-container {
  text-align: right;
  font-weight: 700;
}

.display {
  border-bottom: 1px black solid;
  padding: 3px;
  min-height: 1.3rem;
}

.previous-command {
  color: gray;
  font-size: 0.75rem;
  line-height: 1.3rem;
  padding: 3px;
  min-height: 1.3rem;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.6rem;
  font-weight: 100;
  font-style: italic;
}